.bg
{
    background-image: url('../../../assets/headernew.jpg');
    background-repeat: no-repeat;
    background-size: cover;    
    background-color: #4834d4;
    background-position: center;
    background-attachment: fixed;
    padding: 2rem;
    
   
}

.view
{
    min-height:575px;
    
}
.head
{   padding:25px;
    text-align: right;
}
.h{
    text-align: left;

}

.head_logo
{
    padding-top: 10px;
    height: 7rem;
    cursor: pointer;
}
.tbl
    {   
        border-spacing: 0.5rem;
        margin:auto;
        border-radius: 15px;
        padding:20px;
        width:75%;
        padding-left: 40px;
        background-color: white;   
        border-collapse: collapse;
    }
.h1
{
    text-align: left;
    background-color: white;
    font-size:30px;
    padding-top: 40px;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
        
}
    .th
    {   
        color:white;
        background-color: rgb(102, 96, 96); 
        padding:30px;  
        
    }

    .tr:nth-child(even) 
    {
        background-color: rgb(209, 179, 179);
    }

   
    .td
    {   
        font-family: 'Poppins', sans-serif;
        text-align: center;
        font-size:16px;
        font-weight: 600;
        padding:15px;   
        
    }
    .th{
        font-family: 'Poppins', sans-serif;
        text-align: center;
        font-size:16px;
        font-weight: 600;
        padding:15px;   
    }

    .bt
    {
        width:110px;
        color:white;
        font-size: large;
        border: none;
        border-radius: 3px;
        padding: 15px 28px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        cursor:pointer;  
    }
    
    .searchplace
    {
         padding-bottom: 30px;
         
    }
    .search
    { 
        font-family: 'Poppins', sans-serif;
        padding:15px;
        border:none;
        background-color: rgb(216, 215, 215);
        height:50px;
        width:400px;
        font-size:16px;
        border-radius: 5px;
        outline: none;
        font-family: FontAwesome;
    }
    

@media screen and (max-width:768px)
{
    .bg
    {
        padding:1rem;
    
    }
    .view
    {
        zoom:60%;
        height:100%;
        width: 60%;
    }
}
@media screen and (max-width:768px)
{
    .bg
    {
        padding:1rem;
    
    }
    .view
    {
    
        height:1000px;
      
    }
}
@media screen and (max-width:540px)
{
    .bg
    {
        padding:0.8rem;
    
    }
    .view
    {
        zoom:40%;
        height:1000px;
      
    }
}
@media screen and (max-width:362px)
{
    .bg
    {
        padding:0.8rem;
    
    }
    .view
    {
        
        height:1000px;
       
    }
}

